body {
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
}

.card-header {
  background-color: rgb(236, 228, 217);
}

.container {
  margin-top: 17%;
}

.elseInfo {
  margin-top: 30px;
}

.elseInfo span {
  padding-left: 30px;
}
